<div class="logo-gana">
  <%= image_tag("logo-white-gana", class: "logo-img") %>

  <%= content_tag(:div, class: "description") do %>
    <%= content_tag(:p, "¿Qué es?", class: "paragraph-logo") %>
    <%= content_tag(:p, "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled", class: "paragraph-description") %>
  <% end %>



</div>
