.gana-acompana-g {
  width: 50px;
  height: 50px;
  background-image: url("WEB-GANA-36.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
  .gana-acompana-g:hover {
    background-image: url("WEB-GANA-41.png");
  }
.gana-acompana-a1 {
  width: 50px;
  height: 50px;
  background-image: url("WEB GANA-42.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
  .gana-acompana-a1:hover {
      background-image: url("WEB GANA-37.png");
  }
.gana-acompana-n {
  width: 50px;
  height: 50px;
  background-image: url("WEB GANA-43.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
  .gana-acompana-n:hover {
    background-image: url("WEB-GANA-88.png");
  }
.gana-acompana-a2 {
  width: 50px;
  height: 50px;
  background-image: url("WEB GANA-39.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
.gana-acompana-mas {
  width: 35px;
  height: 50px;
  background-image: url("WEB-GANA-50.jpg");
  background-size: 35px 75px;
  background-repeat: no-repeat;
}
  .gana-acompana-mas:hover {
    background-image: url("WEB-GANA-60.png");
  }

.acompana-hr1,
.acompana-hr2 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #901183;
  width: 50%;
}

.gana-acompana-first-step {
  width: 200px;
  height: 200px;
  background-image: url("WEB GANA-39.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
.gana-acompana-first-step p {
  width: 50px;
}
