// Place all the styles related to the gana_arranca controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teste32 {
  background-image: url("WEB-GANA-31.jpg");
  background-repeat: no-repeat;
  display: block;
  height: 829%;
  width: 100%;
  background-size: 100%;
  background-position: center;
}
