// Place all the styles related to the Government controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-gov {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("WEB GANA-32.jpg");
  text-align: center;
}

.gana-instructions {
  display: flex;
  width: 70%;
  margin: auto;
  height: 50%;
  position: relative;
  padding-top: 50px;
}
  .gana-instructions img {
    width: 150px;
    display: block;
    margin: auto;
    padding-right: 15px;
  }
  .gana-instructions a:last-child {

    padding-right: 0;
  }
  .gana-instructions a {
    width: 150px;
    text-align: center;
    display: block;
    margin: auto;
    padding-right: 15px;
    text-decoration: none;
    font-style: normal;
    color: #0a0d2d;
  }

hr {
  width: 50%;
}

.gana-g:hover ~ .teste {
  color: white;
  background-color: blue;
}

.gana-g {
  width: 165px;
  height: 150px;
  background-image: url("WEB GANA-36.png");
  background-size: 165px 150px;
}
  .gana-g:hover {
    background-image: url("WEB GANA-41.png");
  }
  .gana-g:hover ~ p {
    color: #01a0c6;
  }

.gana-a1 {
  background-size: 165px 150px;
  width: 165px;
  height: 150px;
  background-image: url("WEB GANA-42.png");
}
  .gana-a1:hover {
    background-image: url("WEB GANA-37.png");
  }
  .gana-a1:hover ~ p {
    color: #0b8a36;
  }

.gana-n {
  background-size: 165px 150px;
  width: 165px;
  height: 150px;
  background-image: url("WEB GANA-43.png");
}
  .gana-n:hover {
    background-image: url("WEB GANA-38.png");
  }
  .gana-n:hover ~ p {
    color: #f98511;
  }

.gana-a2 {
  background-size: 165px 150px;
  width: 165px;
  height: 150px;
  background-image: url("WEB GANA-44.png");
}
  .gana-a2:hover {
    background-image: url("WEB GANA-39.png");
  }
  .gana-a2:hover ~ p {
    color: #901183;
  }

.gana-mas {
  background-size: 100px 150px;
  width: 100px;
  height: 150px;
  background-image: url("WEB-GANA-50.jpg");
}
  .gana-mas:hover {
    background-image: url("WEB-GANA-60.png");
  }
  .gana-mas:hover ~ p {
    color: red;
  }
  .teste {
    width: 100px !important;
  }

.main-gov p {
    margin-left: 7.5px;
}

.g-description, .a1-description, .n-description,
.a2-description, .mas-description {
  display: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
