body, html {
  height: 100%;
  margin: 0;
  background-color: #0a0d2d;
}

.main-te {
  background-repeat: no-repeat;
  background-image: url("https://user-images.githubusercontent.com/26297247/48257452-b2bea300-e3f9-11e8-8504-edee524dfecc.png");
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.logo-img {
  width: 30%;
  padding-top: 50px;
  display: block;
  margin: auto;
}

.description {
  margin-top: 20px;
  height: 100px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
  .paragraph-logo {
    float: left;
    height: inherit;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
  .paragraph-description {
    width: 45%;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    word-break: break-all;
    word-wrap: break-word;
    color: white;
    padding-left: 8px;
    text-align: justify;
  }

.img-inicia {
  padding-top: 30px;
  display: block;
  margin: auto;
  width: 30%;
}

.div-buttons{
  display: inline-flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
  .div-citizen {
    display: block;
    justify-content: center;
    text-align: center;
    width: 25%;
  }
    .div-citizen p {
      color: white;
      font-size: 20px;
      margin: 0;
      font-weight: bold;
    }
    .div-citizen hr {
      width: 50%;
      border-top: 3px solid #ccc;
      border-radius: 5px;
    }
    #btn-citizen:hover + hr{
        border-color: #01a0c6;
    }
    #btn-citizen:hover ~ p{
        color: #01a0c6;
    }
    .div-citizen img {
      margin-top: 15px;
      width: 150px;
    }

  .div-gov {
    display: block;
    justify-content: center;
    text-align: center;
    width: 25%;
  }
    .div-gov p{
      color: white;
      font-size: 20px;
      margin: 0;
      font-weight: bold;
    }
    .div-gov hr {
      width: 50%;
      border-top: 3px solid #ccc;
      border-radius: 5px;
    }
    #btn-gov:hover + hr{
        border-color: #fcf118;
    }
    #btn-gov:hover ~ p{
        color: #fcf118;
    }
    .div-gov img {
      width: 160px;
    }
